<div class="row">
<div class="large-12 columns">
<!-- <div class="medium-6 columns"> -->
<h2>Our Approach</h2>



<p class="subheader"> At CM Suby, we understand that redesigning a home can be stressful to your daily routine. Your home is important to you and we take all the necessary precautions to ensure a successful project. Check below for a look into a typical bathroom renovation.</p>


<div id='container6' div class="twentytwenty-container">
  <img alt="Sample before" src="/images/bathroom_before.png"/>
  <img alt="Sample after" src="/images/bathroom_after.png"/>
</div>

<hr class="style-two">
<!--
<div class="medium-6 columns">
  <h2>Typical Bathroom Work Schedule</h2>
    <div class="single-item">
      <div>After consulting with you, we are ready to work!</div>
      <div>Apply for all necessary permits</div>
      <div>Protect the house</div>
      <div>Gut and remove material off premises</div>
      <div>Rebuild area according to blueprints/drawings</div>
      <div>Rough electrical or electrical upgrades, if necessary</div>
      <div>Set up rough inspections for plumbing, building and electrical</div>
      <div>Insulation upgrade/insulation inspection</div>
      <div>Sheetrock/tape/spackle (3 coats)</div>
      <div>Tile installation/grout</div>
      <div>Trim work /trim out fixtures plumbing/electrical</div>
      <div>Final measurements for shower or tub door</div>
      <div>When completed final inspections scheduled (plumbing-building-electrical)</div>
      <div>Congratulations, you have a beautiful new bathroom!</div>
    </div>
</div>

</div>
</div>
 -->

<div class="row" data-equalizer>
  <div class="medium-4 large-4 columns">
    <ul class="pricing-table" data-equalizer-watch>
      <li class="title">Phase 1</li>
      <li class="price">Pre-work</li>
      <li class="bullet-item">Apply for all necessary permits</li>
      <li class="bullet-item">Protect the house</li>
      <li class="bullet-item">Gut and remove material off premises</li>
      <li class="bullet-item">Rebuild area according to blueprints/drawings.</li>
    </ul>
  </div>
  <div class="medium-4 large-4 columns">
    <ul class="pricing-table" data-equalizer-watch>
      <li class="title">Phase 2</li>
      <li class="price">Construction</li>
      <li class="bullet-item">Rough electrical or electrical upgrades, if necessary</li>
      <li class="bullet-item">Set up rough inspections for plumbing, building and electrical</li>
      <li class="bullet-item">Insulation upgrade/insulation inspection</li>
      <li class="bullet-item">Sheetrock/tape/spackle (3 coats)</li>
    </ul>
  </div>
  <div class="medium-4 large-4 columns">
    <ul class="pricing-table" data-equalizer-watch>
      <li class="title">Phase 3</li>
      <li class="price">Final Touches</li>
      <li class="bullet-item">Sheetrock/tape/spackle (3 coats)</li>
      <li class="bullet-item">Tile installation/grout</li>
      <li class="bullet-item">Trim work /trim out fixtures plumbing/electrical</li>
      <li class="bullet-item">Final measurements for shower or tub door</li>
      <li class="bullet-item">When completed final inspections scheduled (plumbing-building-electrical)</li>
    </ul>
  </div>
</div>

</div>
</div>

<div class="row">
<div class="large-12 columns">
<hr class="style-two">
<h2>Quality</h2>
<p class="subheader">The quality of your fixtures matters.
When redesigning your home, you are making an investment that will improve the quality of your life for many years to come. Look below for the products we use to see some of your options.</p>

<ul class="small-block-grid-3 medium-block-grid-6 large-block-grid-6">
        <li><%=link_to image_tag("brands/brand1.png"), "http://www.lacava.com"%></li>
        <li><%=link_to image_tag("brands/brand2.png"), "http://www.gessi.com"%></li>
        <li><%=link_to image_tag("brands/brand3.png"), "http://www.kohler.com"%></li>
        <li><%=link_to image_tag("brands/brand4.png"), "https://pro.hansgrohe-int.com/18863.htm"%></li>
       <li><%=link_to image_tag("brands/brand5.png"), "http://www.bainultra.com/"%></li>
       <li><%=link_to image_tag("brands/brand6.png"), "http://www.hansgrohe-usa.com"%></li>
</ul>

</div>
<div>

<hr class="style-two">
