<div class="row">

  <div class="large-12 columns">
    <h2>Testimonials</h2>
    <p class="subheader"> At CM Suby, we take pride in client satisfaction. Take a look at what some of them have said.</p>

  <hr class="style-two">

  <div id='container2' div class="twentytwenty-container">
    <img alt="Sample before" src="/images/testimonial/powder_before.png"/>
    <img alt="Sample after" src="/images/testimonial/powder_after.png"/>
  </div>

  <div class="show-for-small-only">
    <ul class="accordion" data-accordion>
      <li class="accordion-navigation">
        <a href="#panel1a">Janet Kolb - Neshanic Station, NJ</a>
        <div id="panel1a" class="content">
          <%= render 'testimonials/janet' %>
        </div>
      </li>
    </ul>
  </div>

  <div class="show-for-medium-up">
    <h4>Janet Kolb - Neshanic Station, NJ</h4>
    <%= render 'testimonials/janet' %>
  </div>

  <hr class="style-two">

  <div id='container3' div class="twentytwenty-container">
    <img alt="Sample before" src="/images/testimonial/shower_before.png"/>
    <img alt="Sample after" src="/images/testimonial/shower_after.png"/>
  </div>

  <div class="show-for-small-only">
    <ul class="accordion" data-accordion>
      <li class="accordion-navigation">
        <a href="#panel2a">Raymond - West Orange, NJ</a>
        <div id="panel2a" class="content">
         <%= render 'testimonials/raymond' %>
        </div>
      </li>
    </ul>
  </div>

  <div class="show-for-medium-up">
    <h4>Raymond - West Orange, NJ</h4>
    <%= render 'testimonials/raymond' %>
  </div>

  <hr class="style-two">

  <div id='container4' div class="twentytwenty-container">
    <img alt="Sample before" src="/images/testimonial/kitchen_before.png"/>
    <img alt="Sample after" src="/images/testimonial/kitchen_after.png"/>
  </div>

  <div class="show-for-small-only">
    <ul class="accordion" data-accordion>
      <li class="accordion-navigation">
        <a href="#panel3a">John & Joanne Sullivan - Morristown, NJ</a>
        <div id="panel3a" class="content">
          <%= render 'testimonials/john' %>
        </div>
      </li>
    </ul>
  </div>

  <div class="show-for-medium-up">
    <h4> John & Joanne Sullivan - Morristown, NJ</h4>
    <%= render 'testimonials/john' %>
  </div>

  <hr class="style-two">

  <div id='container5' div class="twentytwenty-container">
    <img alt="Sample before" src="/images/testimonial/kitchen01_before.png"/>
    <img alt="Sample after" src="/images/testimonial/kitchen01_after.png"/>
  </div>

  <div class="show-for-small-only">
    <ul class="accordion" data-accordion>
      <li class="accordion-navigation">
        <a href="#panel4a">Tina Wang- West Orange,NJ</a>
        <div id="panel4a" class="content">
            <%= render 'testimonials/tina' %>
        </div>
      </li>
    </ul>
  </div>

  <div class="show-for-medium-up">
    <h4>Tina Wang - West Orange,NJ</h4>
    <%= render 'testimonials/tina' %>
  </div>

  <hr class="style-two">

  <div id='container6' div class="twentytwenty-container">
    <img alt="Sample before" src="/images/testimonial/sample-before.jpg"/>
    <img alt="Sample after" src="/images/testimonial/sample-after.jpg"/>
  </div>

  <div class="show-for-small-only">
    <ul class="accordion" data-accordion>
      <li class="accordion-navigation">
        <a href="#panel5a">Amy & Alan Stuart - Berkeley Heights, NJ</a>
        <div id="panel5a" class="content">
          <%= render 'testimonials/amy' %>
        </div>
      </li>
    </ul>
  </div>

  <div class="show-for-medium-up">
    <h4>Amy & Alan Stuart - Berkeley Heights, NJ</h4>
      <%= render 'testimonials/amy' %>
  </div>

  <hr class="style-two">

  <div id='container7' div class="twentytwenty-container">
    <img alt="Sample before" src="/images/testimonial/master_before.png"/>
    <img alt="Sample after" src="/images/testimonial/master_after.png"/>
  </div>

  <div class="show-for-small-only">
    <ul class="accordion" data-accordion>
      <li class="accordion-navigation">
        <a href="#panel6a">Damon and Renee Kosofsky - Warren,NJ</a>
        <div id="panel6a" class="content">
          <%= render 'testimonials/damon' %>
        </div>
      </li>
    </ul>
  </div>

  <div class="show-for-medium-up">
    <h4>Damon and Renee Kosofsky - Warren,NJ</h4>
      <%= render 'testimonials/damon' %>
  </div>

  <hr class="style-two">

  <div class="show-for-small-only">
    <ul class="accordion" data-accordion>
      <li class="accordion-navigation">
        <a href="#panel7a">David - New Province, NJ</a>
          <div id="panel7a" class="content">
          <%= render 'testimonials/david' %>
          </div>
      </li>
    </ul>
  </div>

  <div class="show-for-medium-up">
    <h4>David - New Province, NJ</h4>
    <%= render 'testimonials/david' %>
  </div>

<hr class="style-two">

  </div>
</div>
