<div align="center">
  <h3>Email us:</h3>

  <%= simple_form_for @contact, :html => {:class => 'class-goes-here' } do |f| %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => true %>
    <div>
      </br>
      <%= f.button :submit, 'send message', :class=> "class-goes-here" %>
    </div>
  <% end %>
</div>