<div align="center">
  <h3>Email us:</h3>
  <%= form_for @contact, :builder => Judge::FormBuilder, url: '/contacts' do |f| %>
    <%= f.text_field :name, placeholder: 'Name', :validate => true %>
    <%= f.text_field :email, placeholder: 'Email', :validate => true %>
    <%= f.text_area :message, placeholder: 'Message', :validate => true %>
    <div>
      <br>
      <%= f.submit "send message", class: 'button' %>
    </div>
  <% end %>
</div>