

      <div class="top-bar">
        <div class="row column">
          <div class="top-bar-left">
            <ul class="vertical medium-horizontal dropdown menu" data-dropdown-menu>
              <li><strong><%=link_to "CM SUBY", root_path%></strong></li>
              <li><%=link_to "DESIGNS", designs_path%></li>
              <li><%=link_to "APPROACH", process_path%></li>
              <li><%=link_to "TESTIMONIALS", testimonials_path %></li>
              <li><%=link_to "CONTACT", contact_path %></li>
            </ul>
          </div>
        </div>
      </div>
