<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "CM Suby" %></title>

<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <header>

    <%= render 'layouts/header' %>

  </header>


  <body>

    <%= yield %>

  </body>

<footer>
<div class="row">
<div class="large-12 columns">
<div class="row">
<div class="small-6 large-6 columns">
<p><img src="images/cmsuby_logo.jpg"></p>
</div>
<div class="small-6 large-6 columns">
<ul class="inline-list right">
<li>
<li>1-973-951-5570</li>
<li>
<a href="#">cmsuby@gmail.com</a>
</li>
<li>
<a href="#">Northern NJ</a>
</li>
<li>
<%= link_to "Contact", contact_path, class: "button secondary tiny" %>
</li>
</ul>
</div>
</div>

<p class="copyright">&copy; Copyright 2016 Jason Wang and Phil Sofia</p>
</div>
</div>


</footer>



</html>

